/* You can add global styles to this file, and also import other style files */

.flex-wrap {
  flex-wrap: wrap;
}


$min-size: 1rem;
$max-size: 100rem;

@for $i from 1 through 100 {
  .mr-#{$i} {
    margin-right: $i * 1px;
  }
  .ml-#{$i} {
    margin-left: $i * 1px;
  }
  .mt-#{$i} {
    margin-top: $i * 1px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1px;
  }

}

.success-snackbar div:first-child{
  background-color: #46A35E!important;
}

.info-snackbar div:first-child{
  background-color: #636363!important;
}

.error-snackbar div:first-child{
  background-color: #eb3434!important;
}
.warning-snackbar div:first-child{
  background-color: #ffc118!important;
}
